@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;400;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    outline: none;
    text-decoration: none;
}

html::-webkit-scrollbar
{
    width: .5rem;
}

html::-webkit-scrollbar-thumb
{
    background: rgba(236, 29, 29, 1);
    border-radius: 50px;
}

body
{
    background-color: rgba(35, 35, 35, 0.95);
}

.message
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 15px;
}

/* تصميم رأس الصفحة */
header
{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: rgba(37, 37, 37, 1);
}

.logo img {
  cursor: pointer;
  width: 150px;
  position: absolute;
  top: 0px;
  right: 3%;
  margin-top:10px;
}
header .name_user
{
  color: #fff;
  font-weight: 700;
}

.dropdown
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.selector
{
    width: 250px;
}

#selectField
{
    width: 100%;
    padding: 10px 20px;
    background: rgba(35, 35, 35, 0.95);
    border-radius: 40px;
    border: 3px solid rgba(236, 29, 29, 1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#selectField img
{
    width: 12px;
    transition: transform 0.5s ease;
}

#list
{
    width: 100%;
    background: rgba(37, 37, 37, 1);
    border-radius: 10px;
    display: none;
}

.radio
{
    display: none;
    user-select: text;
}

#list .options
{
    width: 100%;
    padding: 15px 15px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#list .options:hover
{
    background: rgba(35, 35, 35, 0.95);
}

#list.hide
{
    display: block;
    list-style: none;
}

.rotate
{
    transform: rotate(180deg);
}

.tm
{
    padding: 5px 115px;
    background-color: rgba(236, 29, 29, 1);
    border: none;
    font-weight: 700;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid rgba(236, 29, 29, 1);
    display: none;
}

#tm.active
{
    display: block;
    list-style: none;
}

.user
{
    padding: 5px 40px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: transparent;
    border: none;
    font-weight: 700;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    border: 3px solid rgba(236, 29, 29, 1);
    transition: all 0.3s ease 0s;
}


/* تصميم محتوى السلة */

.container
{
    max-width: 1300px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.container h1
{
    padding: 0 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.cart
{
    display: flex;
}

.products
{
    flex: 0.75;
}

.product
{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: rgba(35, 35, 35, 0.19);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 20px;
    transition: 0.2s ease;
}

.product img
{
    width: 300px;
    height: 200px;
    object-fit: cover;
    background: #fff;
    border-radius: 20px;
}

.product_info
{
    padding: 20px;
    width: 100%;
    position: relative;
}

.product_name, .product_price, .product_offer
{
    margin-bottom: 10px;
}

.product_name
{
    color: #fff;
    font-size: 36px;
    font-weight: 500;
}

.product_price
{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.product_update
{
    position: absolute;
    bottom: 18px;
    left: 130px;
    padding: 10px 20px;
    background: transparent;
    border: 3px solid hsla(360, 100%, 52%, 1);
    color: white;
    cursor: pointer;
    border-radius: 25px;
    font-weight: 700;
    transition: 0.3s ease;
}

.product_update button
{
    bottom: 18px;
    left: 130px;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s ease;
}


.product_remove
{
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 25px;
    background-color: hsla(360, 100%, 52%, 1);
    cursor: pointer;
    color: white;
    border-radius: 25px;
    font-weight: 700;
    transition: 0.3s ease;
}

.product_remove span
{
    color: white;
}

.product_quantity
{
    color: #fff;
    font-weight: 700;
}

.product_quantity input
{
    width: 40px;
    padding: 5px;
    text-align: center;
    background: rgba(35, 35, 35, 0.19);
    color: #fff;
    border: 2px solid #fff;
    margin-right: 10px;
}

.fas
{
    margin-left: 5px;
    color: #fff;
}

.cart_total
{
    flex: 0.25;
    margin-right: 20px;
    padding: 20px;
    height: 100%;
    background: rgba(37, 37, 37, 1);
    border: none;
    border-radius: 10px;
}

.cart_total p
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
}

.cart_total .price
{
    color: #fff;
}

.cart_total a
{
    display: block;
    text-align: center;
    /* height: 40px; */
    line-height: 35px;
    margin: 0 40px;
    background-color: transparent;
    border: 2px solid rgba(236, 29, 29, 1);
    color: white;
    text-decoration: none;
    border-radius: 40px;
}

.line
{
    border: 1px solid hsla(360, 100%, 52%, 1);
}

.swal-footer
{
    text-align: center;
}

.swal-button
{
    background-color: rgba(236, 29, 29, 1);
}

.swal-button:hover
{
    background-color: rgba(236, 29, 29, .5) !important;
}

.like_btn
{
    position: absolute;
    padding: 15px 20px;
    /* background: rgba(236, 29, 29, .5); */
    bottom: 20%;
    left: 0;
    font-size: 15px;
    /* border-radius: 40px; */
    border: none;
    outline: none;
    color: #e8efff;
    cursor: pointer;
}

@media(max-width: 1220px)
{
    .container
    {
        max-width: 100%;
    }
}

@media(max-width: 700px)
{
    .container
    {
        max-width: 1200px;
        padding: 0;
    }

    .remove
    {
        display: none;
    }

    .update
    {
        display: none;
    }

    .product
    {
        height: 150px;
    }

    .product > img
    {
        height: 250px;
        width: 200px;
    }

    .product_name, .product_price, .product_offer
    {
        margin-bottom: -1px;
    }
}

@media(max-width: 900px)
{
    .cart
    {
        flex-direction: column;
    }

    .cart_total
    {
        margin-right: 0;
        margin-bottom: 20px;
    }

    #selectField
    {
        width: 200px;
        padding: 5px 10px;
    }
    #list
    {
        width:200px;
    }

    .tm
    {
        padding: 5px 90px;
    }
    .user {
        padding: 3px 18px;
        margin-left: -30px;
    }

}

@media(max-width: 550px)
{
    .product
    {
        height: 100%;
    }

    .product img
    {
        height: auto;
        width: 100px;
        background: #fff;
        border-radius: 0;
    }

    .product_name
    {
        font-size: 18px;
        font-weight: 700;
    }

    .product_price
    {
        font-size: 14px;
    }
    .product_quantity
    {
        font-size: 12px;
    }
    .product_quantity input
    {
        width: 30px;
        margin: 5px 0;
    }
    
    .product_update
    {
        left: 100px;
        padding: 8px 18px;
    }

}

@media(max-width: 300px)
{

    .product
    {
        height: 120px;
    }

    .product img
    {
        height: 100px;
        width: 100px;
    }

    .product_info
    {
        padding: 2px;
        width: 50%;
    }

    .product_remove
    {
        left: 5px;
        padding: 8px 18px;
    }

    .product_update
    {
        left: 15px;
        padding: 8px 18px;
    }

    .product_quantity input
    {
        width: 30px;
        padding: 2px;
    }

}
